<div class="modal-overlay video-modal" id="video-modal">
  <div class="modal">
    <button class="modal-close" aria-label="Close"><i class="fas fa-times"></i></button>
    <div class="video-modal-body">
      <iframe allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
